img {
    width:10%;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    padding: 0 !important;
}

.container-fluid {
    width: 100%;
    margin-left: auto !important;
    margin-right: auto !important;
}
